.About {
    background: rgb(225, 211, 225);
    display: flex;
    height: 700px;
    position: relative;
    align-items: right;

}
.About .Container {
    position: absolute;
    top: 25%;
    display: flexbox;
    justify-content: space-around;
    justify-content: space-evenly;
    margin-left: 20%;
    position: absolute;

}

.About .Container .Hello {
    margin-top: 30px;
    font-size: bold;
    font-size: lighter;
    color:rgb(48, 37, 48);

}

.About .Container h1 {
   text-align: right;
   padding-left: 550px;
   color:rgb(130, 100, 130);
   margin-right: 20%;
}

.About .Container .Name {
    color:rgb(130, 100, 130);
    margin-top: 0;
    margin-right: 20%;
}


.About .Container h2{
    font-size: 20px;
    position: relative;
    text-align: right;
    justify-content: space-around;
    color:rgb(62, 50, 62);
    margin-right: 20%;
    padding-bottom: 5%;


}
.About .Container .Profile {
    display: flex;
    align-items: left;
    height: 125%;
    border-top-right-radius: 175px;
        border-top-left-radius: 175px;
        border-bottom-right-radius: 175px;
    margin: 0;
    position: absolute;
    display: flexbox;

}