.AboutMe{
    background: rgb(228, 221, 228);
    padding-bottom: 13%;
    height: 60vh;

}
.AboutMe .Container {
    display: flex;

}
.AboutMe .Container .text {
    width: 87%;
    margin-left: 3%;

}
.AboutMe .Container .text h1 {
    font-weight: 900;
    font-size: 45px;
    text-align: right;
    color:rgb(62, 50, 62);
    margin-right: 10%;
    
}
.AboutMe .Container .Photo {
    width:55%;
display: flex;
justify-content: center;
/* margin-left: 13%; */

}

.AboutMe .Container .Photo .Me {
    height: 500px;
    border-top-right-radius: 175px;
    border-top-left-radius: 175px;
    border-bottom-right-radius: 175px;

}

.AboutMe .Container p {
    font-size: 30px;
    font-style: italic;
    text-align: right;
    color:rgb(62, 50, 62);
    margin-right: 10%;
    padding-bottom: 5%;


}



