.Container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.Container hr {
    position: absolute;
    left: 0;
    width: 125px;
    border: 1px solid rgb(62, 47, 62);
    
}

.Container h1 {
    color:rgb(255, 252, 255);
    align-items: center;
    text-align: center;

}

.Container p {
    color:rgb(101, 89, 101);
}