body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 750;
  font-size: 65px;

}

h2 {
  font-weight: 600;
  font-size: 35px;
}

p {
  font-weight: 500;
  font-size: 35px;
}

code {
  font-family: 'Merriweather', serif;
}
