body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
}

h1 {
  font-weight: 800;
  font-size: 55px;
}

h2 {
  font-weight: 600;
  font-size: 35px;
  color:rgb(49, 45, 49)
}

p {
  font-weight: 500;
  font-size: 35px;
  color:rgb(49, 45, 49)
}

code {
  font-family: 'Merriweather', serif;
}
